# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.*

# Django
db.sqlite3
staticfiles/
media/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
